<div class="container" >

    <div class="row">
      <div class="card" style="width: 20rem; margin-left: 5%;">
        <img class="card-img-top img-fluid" src="assets/img/products.jpg" alt="Card image cap" style="width:400px">
        <div class="card-body">
          <h5 class="card-title">Administración de Clientes</h5>
          <p class="card-text">Proximamente podrá gestionar los clientes</p>
        </div>
      </div>
      <div class="card" style="width: 20rem; margin-left: 5%;">
        <img class="card-img-top" src="assets/img/order.png" alt="Card image cap">
        <div class="card-body ">
          <h5>Ordenar por Clientes</h5>
          <p>Consulte clientes, revise ordenes y cree nueva orden</p>
          <a href="list-customer" class="btn btn-primary ">Consultar</a>
        </div>    
      </div>
      <div class="card" style="width: 20rem; margin-left: 5%;">
        <img class="card-img-top" src="assets/img/listorder.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Administración de Productos</h5>
          <p class="card-text">Proximamente gestionar los productos</p>
        </div>
      </div>
    </div>
</div>