<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Detalle de la Orden {{order.id}}</h3>
        </div>
        <div class="form-group" class="col-md-12">
            <label>Cliente: {{order.customer.name}}</label>
            <br/>
            <label>Dirección de entrega: {{order.deliveryAddress}}</label>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="col-sm-12 align-self-center text-center">
                        <th>Item</th>
                        <th>Producto</th>
                        <th>Precio unidad</th>
                        <th>Unidades</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor ="let detailOrder of order.orderDetails" >
                        <td>{{detailOrder.id}}</td>
                        <td>{{detailOrder.product.name}}</td>                       
                        <td>{{detailOrder.price| currency}}</td>                     
                        <td>{{detailOrder.quantity}}</td>
                        <td>{{detailOrder.productDescription}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="col-sm-12 align-self-center text-center">
        <button (click)="goHome()" class="btn btn-info " style="margin-left: 30px">Volver</button>
    </div>
</div>